.orderComplete-page-container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;

}

/* auth-page 안의 h2 태그 (페이지 제목) */
.orderComplete-page-container h2 {
  font-size: 1.5rem;
  font-weight: 550;
  text-align: center; /* Figma 디자인처럼 가운데 정렬 */
  margin: 0 0 0 0;
}

/* description 클래스를 가진 p 태그 (설명 텍스트) */
.orderComplete-page-container .description {
  /* font-size: 0.875rem; */
  text-align: center;
  font-weight: 350;
  line-height: 1.3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.order-summary-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  margin-bottom: 2rem;
}
.summary-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}
.summary-info {
  text-align: left;
  flex-grow: 1;
}
.summary-info h3 {
  font-size: 1.1rem;
  margin: 0 0 0.5rem 0;
}
.summary-info p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.page-actions {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}