.payment-page-container {
    width: 100%;
    text-align: center;
}

.payment-page-container h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    margin: 2rem 1rem;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #31BBE5;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
    margin: 20px auto;
}

/* 보더 컬러를 상단만 다르게 하고 원 자체를 한바퀴 돌려서 돌아가는 애니메이션은 구현한 것임 */
@keyframes spin { 
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}