.productlist-container {
  width: 100%;

}

.prepare-message {
    width: 100%;
    text-align: center;
    padding: 3rem 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* 선택사항: 카드 느낌 */
    border-radius: 8px; /* 선택사항: 모서리 둥글게 */
}

.prepare-message h1{
    font-size: 1.5rem;
}