.purchase-page-container {
  width: 100%;

}

/* auth-page 안의 h2 태그 (페이지 제목) */
.purchase-page-container h2 {
  font-size: 1rem;
  font-weight: 550;
  text-align: center; /* Figma 디자인처럼 가운데 정렬 */
  margin: 0 0 0 0;
}

/* description 클래스를 가진 p 태그 (설명 텍스트) */
.purchase-page-container .description {
  font-size: 0.875rem;
  text-align: center;
  font-weight: 350;
  line-height: 1.3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.form-section {
  margin-bottom: 2rem;
}

.form-section h3 {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.form-group {
 display: flex;
 flex-direction: column;
 align-items: flex-start; 
 gap: 0.3rem
}

.form-section p {
    margin: 0;
}

/* form-section-title 클래스를 가진 p 태그 (소제목) */
.form-section-title {
  font-size: 1rem;
  font-weight: 500;
  /* color: #495057; */
  margin-bottom: 0.7rem;
  text-indent: 0.3rem;
}

.postcode-group {
  display: flex;
  gap: 0.5rem
}

.prepare-message {
    width: 100%;
    text-align: center;
    padding: 3rem 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* 선택사항: 카드 느낌 */
    border-radius: 8px; /* 선택사항: 모서리 둥글게 */
}

.prepare-message h1{
    font-size: 1.5rem;
}

.payment-method-group {
  padding: 1rem, 0.5rem;
  margin-bottom: 4rem;
  display: flex;
  gap: 0.2rem;
}

.payment-method {
  display: none;
}

.payment-button {
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #959595;
  padding: 0 0.3rem;
  /* transition: 0.2s; */
}

.payment-button:hover {
  border: 2px solid #31BBE5;
  /* transition: 0.2s; */
}

#card:checked ~ [for="card"] {
  background-color:#31BBE5;
  color: white;
  border-color: #31BBE5;
}
#simple:checked ~ [for="simple"] {
  background-color:#31BBE5;
  color: white;
  border-color: #31BBE5;
}
#cash:checked ~ [for="cash"] {
  background-color:#31BBE5;
  color: white;
  border-color: #31BBE5;
}

#naverpay:checked ~ [for="naverpay"] {
  background-color:#31BBE5;
  color: white;
  border-color: #31BBE5;
}