/* Header.css */
.app-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 0 1.5rem; */
  height: auto;
  /* border-bottom: 1px solid #e9ecef; */
  background-color: white;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
}
.search-warp {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem 0rem 1.5rem;
  
}

.form-input-search {
  flex-grow: 1;
  padding: 0.8rem 0.5rem;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  font-size: 0.875rem;
  font-family: inherit;
  outline: 0.1rem solid #2C9EC1;
}

.header-left {
  display: flex;
  gap: 4.3rem;
}
.header-left .logo img {
  height: 2rem; /* 로고 이미지 높이 */
  display: block; /* 이미지 아래 불필요한 여백 제거 */
}

.header-left .page-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #2C9EC1;
  margin: 0;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navigation a, .navigation .nav-button {
  text-decoration: none;
  color: #495057;
  font-weight: 500;
  background: none;
  border: none;
  font-size: 0.875rem;
  font-family: inherit;
  cursor: pointer;
}