/* Tiptap 에디터 전체 컨테이너 */
.tiptap-container {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}

/* 메뉴바 스타일 */
.menu-bar {
    display: flex;
    flex-wrap: wrap; /* 버튼이 많아지면 다음 줄로 넘어가도록 */
    gap: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
}

.menu-bar button, .menu-bar select{
    min-width: 3.5em;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.25rem;
    font-family: inherit;
    transition: 0.2s;
}

.menu-bar button:hover, menu-bar select:hover {
 background-color: #f1f3f5;
}

.color-input {
  width: 2.5rem;
  height: 1.5rem;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.menu-bar .is-active{
    font-weight: 600;
    background-color: #959595;
    color: white;

}

/* Tiptap 에디터의 실제 입력 영역 스타일 */
.tiptap-container .ProseMirror {
  min-height: 150px;
  padding: 1rem 0.5rem;
  outline: none; /* 포커스 시 외곽선 제거 */
  white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */
}

/* Tiptap 에디터의 placeholder 스타일 가상요소를 만들어 플레이스홀더 처름 꾸미는 기법*/
.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    font-size: 0.875rem;
    float: left;
    color: #757575;
    pointer-events: none;
    height: 0;
}